{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<section class="content">
         <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Question Bank Dashboard</h1>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="container-fluid">  
		  
        <div class="row">
          <div class="col-12">
          <div class="info-box">  
              <div class="info-box-content" style="font-size: 14px; font-weight: normal;">				  
              Welcome to Question Bank  ,<br />Online              </div>
			  <!--<div class="row"><h3><a href="https://drive.google.com/drive/folders/1REeHrElNX_a9XxF84vLTtyFULwLBJEax" target="_blank">Click here to Download Grade 1 & 2 and Grade 3 to 8 all Islamiat Nazra Papers</a></h3></div>-->
              <!-- /.info-box-content -->
            </div>           
          </div>        
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-sm-12 col-md-12">
              <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fa fa-handshake-o" aria-hidden="true"></i>
                </span>
  
                <div class="info-box-content">
                    <form  action="register" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table table-borderless" style="width:100%; height:100%;">
                            <tr><td>First Name</td><td><input type="text" name="first_name" placeholder="First Name"></td></tr>
                            <tr><td>Last Name</td><td><input type="text" name="last_name" placeholder="Last Name"></td></tr>
                            {{p_form.as_table}}
                            <tr><td>username</td><td><input type="text" name="username" placeholder="User Name"></td></tr>
                            <tr><td>Email</td><td><input type="email" name="email" placeholder="Email"></td></tr>
                            <tr><td>Password</td><td><input type="password" name="password1" placeholder="Password"></td></tr>
                            <tr><td>Confirm Password</td><td><input type="password" name="password" placeholder="Confirm Password"></td></tr>
                            <tr><td colspan="2"><button class="btn btn-info" type="submit" class="small-box-footer" style="text-align:center; width:100%">Register<i class="fa fa-arrow-circle-right"></i></button></td></tr> 
                            
                        </table>
                        </form>
                       <span> {% for i in messages %}{{i}}{% endfor %}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
                      <!-- /.col -->
  
            <!-- fix for small devices only -->
            <!--<div class="clearfix hidden-md-up"></div>-->
  
                      <!-- /.col -->
                      <!-- /.col -->
          </div>
        <!-- /.row -->
        
		  
		  
        
        <!-- /.row -->

 <!-- Small boxes (Stat box) -->
 
        <!-- /.row -->
        
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->

    <!-- /.content -->
  </div>
    
    </section>

        {% endblock %}

      